@import "./../utils/variables";
@import "./../utils/mixins";


  /*----------------------------------------------------
                    Restaurant Banner Section
----------------------------------------------------*/

.restaurant__banner img {  /*Header Image Banner*/
    max-height: 270px;
}

.restaurant__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: -50px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    h1 {
        font-size: 1.8rem;
    }
}

.likes {
    position: relative;
    top: 0; left: 0;
    cursor: pointer;
        & > i {
        font-size: 2rem;
        background-color: transparent;
    }

i.fas {
    @include heart;
        }
    }

//animation coeur
@keyframes like { 
0% {
    opacity: 0;
}
50% {
    opacity: .5;
}
100% {
    opacity: 1;
}
}

  /*----------------------------------------------------
                     Menu Section
----------------------------------------------------*/
//animation menu apparition en décalage
.menu__list {
    animation-delay: 1s;
    &.entrees1 {
        animation: slideup 1s;
    }
    &.entrees2 {
        animation: slideup 2s;
    }
    &.entrees3 {
        animation: slideup 3s;
    }
    &.plats1 {
        animation: slideup 1s; 
    }
    &.plats2 {
        animation: slideup 2s; 
    }
    &.plats3 {
        animation: slideup 3s; 
    }
    &.desserts1 {
        animation: slideup 1s; 
    }
    &.desserts2 {
        animation: slideup 2s; 
    }
    &.desserts3 {
        animation: slideup 3s; 
    }
}

@keyframes slideup {
    from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);

        }
}
// animation menu end

.section__menu {
    margin-bottom: 70px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    max-width: 700px;
    @include boxshadow;
    cursor: pointer;
    &__description {
        display: inline-block;
        width: 80%;
        margin-left: 20px;
        padding-right: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        & .bold {
            font-weight: 700;
            font-size: 1.2rem;
            margin: 15px 0;
            text-overflow: ellipsis;
            overflow: hidden;
                & + p{
                margin: 0 0 15px 0;
                font-weight: 300;
                font-size: 1rem;
                text-overflow: ellipsis;
                overflow: hidden;       
            }
        }
    }
}

.menu__price {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 20px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-tertiary;
    overflow: hidden;
    transition-duration: .5s;
    }
    
i.fas.fa-check-circle {
        color: white;
        font-size: 1.6rem;
    }

.menu:hover > .check {
    width: 100px;
    transform-origin: right;
    animation: slidein .5s cubic-bezier(.54,.24,0,1.01);
}

.menu:hover .check > i {
    animation: rotate .5s ease-in-out;   
}

//animation box check
@keyframes slidein {
    0% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

//animation rotation icone check
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

  /*----------------------------------------------------
                 Section Order
----------------------------------------------------*/
.order {
    display: flex;
    justify-content: center;
    margin: 30px 0 80px 0;
    & button {
        @include button;
        padding: 20px 60px;
        font-size: 1.3rem;
        margin: auto;
    }
}
